@{
    ViewBag.Title = "About";
}
<br />
    <div class="jumbotron">
        <h1>CRUD with MongoDB</h1>
        <p>
            This simple example of CRUD contains 3 pages, one to see the list of notes, one to add note, one to delete note and one to update note. Another class library project has been created thatn acts as a service
            for the ASP.NET MVC Web project
        </p>
        <a href="https://www.linkedin.com/in/subashkharel1/" target="_blank">Check my LinkedIn</a>
    </div>